
/* サイコロの面の設定 */
        /* 1 */
        
        .dice3d .item:nth-child(1) {
            transform: translate3d(0, -50px, 0) rotateX(-90deg);
            background: url(../img/1dice.jpeg) no-repeat center center / 100% 100%;
            border-radius: 10%;
        }

        /* 2 */
        
        .dice3d .item:nth-child(2) {
            transform: translate3d(0, 0, 50px);
            background: url(../img/2dice.jpeg) no-repeat center center / 100% 100%;
            border-radius: 10%;
        }

        /* 3 */
        
        .dice3d .item:nth-child(3) {
            transform: translate3d(50px, 0, 0) rotateY(90deg);
            background: url(../img/3dice.jpeg) no-repeat center center / 100% 100%;
            border-radius: 10%;
        }

        /* 4 */
        
        .dice3d .item:nth-child(4) {
            transform: translate3d(-50px, 0, 0) rotateY(-90deg);
            background: url(../img/4dice.jpeg) no-repeat center center / 100% 100%;
            border-radius: 10%;
        }

        /* 5 */
        
        .dice3d .item:nth-child(5) {
            transform: translate3d(0, 0, -50px) rotateY(180deg);
            background: url(../img/5dice.jpeg) no-repeat center center / 100% 100%;
            border-radius: 10%;
        }

        /* 6 */
        
        .dice3d .item:nth-child(6) {
          transform: translate3d(0, 50px, 0) rotateX(-90deg);
            background: url(../img/6dice.jpeg) no-repeat center center / 100% 100%;
            border-radius: 10%;
        }





        .diceContent {
            width: 300px;
            margin-left: auto;
            margin-right: auto;
            margin-top: auto;
            margin-bottom: auto;
            background: rgb(200, 200, 200);
            border-radius: 10px;
            position: relative;
            display: "flex";
            justify-content:"center";
            align-items:"center";
        }
        .diceContent .inner{
            width:0px;
            height:0px;
            padding-bottom: 100%;
            
        }
        
        #diceBtn{
            position: absolute;
            width: 70%;
            height: 20%;
            bottom: 5%;
            left: 50%;
            transform: translate(-50%);
            color:inherit;
            font-family:inherit;
            font-size: 20px;
            background: rgb(255, 149, 149);
            border: 3px solid black;
            box-shadow: 0 0 0 black;
            transition: all 0.2s;
        }
      
        #diceBtn:last-child {
            margin: 0;
        }
        #diceBtn:hover {
            box-shadow: 0.1rem 0.1rem 0 rgb(156, 156, 156);
        }
        #diceBtn:active {
            box-shadow: 0 0 0 black;
            transform: translate(0, 0);
        }
        
        #dice2d {
            position: absolute;
            width: 110px;
            top: 20%;
            left: 50%;
            transform: translate(-50%);
            margin-left: auto;
            margin-right: auto;
            border-radius: 10%;
            cursor:pointer;
            border: 3px solid black;
        }
        
        .dice3d {
            /* width: 50%;
            height: 50%; */
            width: 100px;
            height: 100px;
            transform-style: preserve-3d;
            animation: rotate-animation 0.5s linear infinite;
            display: none;
            position: absolute;
            top: 20%;
            left: 30%;
            transform: translate(-50%);
        }

        
        .dice3d .item {
            position: absolute;
            left: 0;
            right: 0;
            
            box-sizing: border-box;
            width: 100%;
            height: 100%;
        }
        
        
        
        @keyframes rotate-animation {
            from {
                transform: rotate3d(1, 0.8, 0.5, 0deg);
            }
        
            25% {
                transform: rotate3d(1, 0.8, 0.5, 90deg);
            }
        
            50% {
                transform: rotate3d(1, 0.8, 0.5, 180deg);
            }
        
            75% {
                transform: rotate3d(1, 0.8, 0.5, 270deg);
            }
        
            to {
                transform: rotate3d(1, 0.8, 0.5, 360deg);
            }
        }
        
        /* @media (max-width: 480px) {
        input {
          margin: 1em 1em;
          transform: scale(1.3);
        }
        } */