@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@700&display=swap');

.masu{
    width: 25rem;
    height: 30rem;
    position: relative;
    border: 0.5rem solid #1cab00;
    
}
.masu .masu-header{
    height:50%;
    background-color: #c1ff7953;
}
    .masu-header .masu-img{
        
        max-height: 100%;
        max-width: 100%;
    }

.masu .masu-body{
    height:50%;
    width: 100%;
}
    .masu-body ul{
        height: 100%;
    }
    .masu-body .masu-title{
        height: 40%;
        width: auto;
        text-align: center;
        
    }
        .masu-title p{
            height: 100%;
            font-size: 1.2rem;
            overflow: auto;
            font-family: 'Zen Maru Gothic', sans-serif;
        }

    .masu-body .masu-contents{
        height: 60%;
        width: 100%;
    }
        .masu-contents .masu-description{
            font-size: 0.8rem;
            height: 75%;
            width: 100%;
            overflow: auto;
        }

        .masu-contents .masu-creator{
            font-family: 'Zen Maru Gothic', sans-serif;
            height: 25%;
            text-align:end;
            font-size: 1.2rem;
        }

.masu .masu-event{
    position: absolute;
    width:25%;
    right: 0%; 
    top: 40%;
}

    .masu-event img{
        position: absolute;
        box-sizing:content-box;
        top: 50%;
        left: 50%;
        transform:translateX(-50%) translateY(-50%);
        width: 100%;
    }
    .masu-event p{
        position: absolute;
        width: 100%;
        text-align: center;
        top: 50%;
        left: 50%;
        transform:translateX(-50%) translateY(-50%);
        font-size: 20px;
        text-shadow:1px 1px 0 #FFF, -1px -1px 0 #FFF,
              -1px 1px 0 #FFF, 1px -1px 0 #FFF,
              0px 1px 0 #FFF,  0 -1px 0 #FFF,
              -1px 0 0 #FFF, 1px 0 0 #FFF;
    
    }

   